# IBM Capstone

## This notebook will be mainly used for the capstone project

## Author: Ivan Yu

## Week 3

## Part 1
### Use pandas, or the BeautifulSoup package, or any other way you are comfortable with to transform the data in the table on the Wikipedia page into the above pandas dataframe.

In [1]:
# import packages
import numpy as np 
import pandas as pd 
import requests

In [2]:
# install beautifulsoup
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /opt/anaconda3/lib/python3.7/site-packages (4.8.0)
Requirement already satisfied: soupsieve>=1.2 in /opt/anaconda3/lib/python3.7/site-packages (from beautifulsoup4) (1.9.3)

In [3]:
!pip install lxml
!pip install html5lib

Requirement already satisfied: lxml in /opt/anaconda3/lib/python3.7/site-packages (4.4.1)
Requirement already satisfied: html5lib in /opt/anaconda3/lib/python3.7/site-packages (1.0.1)
Requirement already satisfied: webencodings in /opt/anaconda3/lib/python3.7/site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in /opt/anaconda3/lib/python3.7/site-packages (from html5lib) (1.12.0)

In [149]:
from bs4 import BeautifulSoup
source=requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(source, 'lxml')
match = soup.title.text
print(match)

List of postal codes of Canada: M - Wikipedia

In [150]:
right_table=soup.find('table', class_='wikitable sortable')

In [151]:
PostalCode=[]
Borough=[]
Neighborhood=[]

# add the information of PostalCode, Borough, and Neighborhood to corresponding list
for row in right_table.findAll('tr'):
    cells=row.findAll('td')
    if len(cells)==3:
        PostalCode.append(cells[0].find(text=True))
        Borough.append(cells[1].find(text=True))
        Neighborhood.append(cells[2].find(text=True))

# generate a dataframe containing the data of the 3 lists
df=pd.DataFrame(PostalCode,columns=['PostalCode'])
df['Borough']=Borough
df['Neighborhood']=Neighborhood
df.head()

  PostalCode             Borough                 Neighborhood
0      M1A\n      Not assigned\n                           \n
1      M2A\n      Not assigned\n                           \n
2      M3A\n        North York\n                  Parkwoods\n
3      M4A\n        North York\n           Victoria Village\n
4      M5A\n  Downtown Toronto\n  Regent Park, Harbourfront\n

In [152]:
df.shape

(180, 3)

In [153]:
# clean the DataFrame
drop=[]
for i in range(0,180):
    for j in range(0,3):
        df.iloc[i,j]=df.iloc[i,j].replace('\n', ' ')
        df.iloc[i,j]=df.iloc[i,j].strip()
    if df.iloc[i,1]=='Not assigned':
        drop.append(i)
new_df=df.drop(drop)
new_df.reset_index(drop=True)

,PostalCode,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,Business reply mail Processing Centre
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [158]:
new_df.shape

(103, 3)